figure{
  display: inline-block !important;
  margin: 1em 26px !important;
  img{
    width: 88px !important;
    height: 58px;
  }
}
.content{
  img{
    padding: 0;
    margin: 0;
    float: left;
    width: 100% !important;
  }
}

